<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book-create</title>
</head>
<body>

<div>
    <h1 style="text-align: center">Saved books</h1>
</div>

<form method="get" action="/book-create">
    <button type="submit">Create</button>
</form>

<table style="font-size: 20px">
    <tr><th>Title</th><th>Isbn</th><th>Author</th></tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
        </tr>
    </th:block>
</table>


</body>
</html>